
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/vehicle-selection">Vehicle Records</a>
  

  
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/vehicle-selection">Browse <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" routerLink="/create">Create</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" routerLink="/edit">Edit</a>
      </li>
      <li class="nav-item">
          <a class="nav-link disabled" routerLink="/delete">Delete</a>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      
      <button class="btn btn-secondary my-2 my-sm-0" type="submit" routerLink='/login'>Login</button>
    </form>
 
</nav>

